<!DOCTYPE html>
<html lang="pt-BR">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Login</title>
     <link rel="stylesheet" href="/static/css/estilo.css">
     {% load bootstrap4 %}
     {% bootstrap_css %}
     {% bootstrap_javascript jquery='full' %}
     {% load extras %}
</head>
<body>
     {% navbar %}
     <form action="{% url 'login' %}" method="POST" class="forms" id="form">
          <h1>
               Login
          </h1>
          <hr width="100%">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons submit='Login' %}{% endbuttons %}
          <h5>Ainda não possui um cadastro? Clique <a href="{% url 'register' %}">aqui</a> para cadastrar-se.</h5>
     </form>
</body>
</html>