<!DOCTYPE html>
<html lang="pt-BR">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Login</title>
     <link rel="stylesheet" href="/static/css/estilo.css">
     {% load bootstrap4 %}
     {% bootstrap_css %}
     {% bootstrap_javascript jquery='full' %}
</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">Conexão Saúde</a>
          <span class="navbar-text"><a href="/user">Área do usuário</a></span>
     </nav>
     {% bootstrap_messages %}
     <form action="/login" method="POST" class="forms">
          <h1>
               Login
          </h1>
          <hr width="100%">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons submit='Login' %}{% endbuttons %}
          <h5>Ainda não possui um cadastro? Clique <a href="/register">aqui</a> para realizar um agora mesmo!</h5>
     </form>
</body>
</html>