<!DOCTYPE html>
<html lang="pt-BR">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Cadastro</title>
     <link rel="stylesheet" href="/static/css/estilo.css">
     {% load bootstrap4 %}
     {% bootstrap_css %}
     {% bootstrap_javascript jquery='full' %}
     {% load extras %}
</head>

<body>
     {% navbar %}
     {% bootstrap_messages %}
     <form action="{% url 'register' %}" method="POST" class="forms" id="form">
          <h1>
               Cadastro
          </h1>
          <hr width="100%">
          {% csrf_token %}
          {% bootstrap_form form %} <br />
          {% buttons submit='Cadastrar' %}{% endbuttons %}
          <h5> Já possui um cadastro? <a href="{% url 'login' %}">Entrar</a></h5>
     </form>
     <script src="/static/js/helper.js"></script>
</body>

</html>