<!DOCTYPE html>
<html lang="pt-BR">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Cadastro</title>
     <link rel="stylesheet" href="static/css/estilo.css">
</head>
<body>

     <section >
          <h1 style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
               Cadastro
          </h1>
          <form action="/register" method="POST">

               {% csrf_token %}

               <label for="{{ form.name.id_for_label }}">Nome: </label> <br/>
               {{ form.name }} <br/>
               <label for="{{ form.email.id_for_label }}">Email: </label> <br/>
               {{ form.email }} <br />
               <label for="{{ form.date.id_for_label }}">Data de Nascimento: <label> <br>
               {{ form.date }} <br />
               <label for="{{ form.password.id_for_label }}">Senha:</label> <br/>
               {{ form.password}} <br /> <br/>

               <button type="submit" style="font-size: 20px;">Cadastrar</button> <br /> 
               <label> Já possui cadastro?<a href="/login">Entrar</a></label>
          </form>
     </section>
     <footer>
          <p></p>
     </footer>
</body>
</html>