<!DOCTYPE html>
<html lang="pt-BR">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Validação</title>
     <link rel="stylesheet" href="/static/css/estilo.css">
     {% load bootstrap4 %}
     {% bootstrap_css %}
     {% bootstrap_javascript jquery='full' %}
     {% load extras %}
</head>

<body>
     {% navbar %}
     <form action="{% url 'twoFactor' %}" method="POST" class="forms">
          <h3>Validar código</h3>
          <hr width="100%">
          {% csrf_token %}
          {% bootstrap_label "Insira o código recebido:" label_for="form.code" %}
          {% bootstrap_field form.code show_label=False %}
          {% buttons submit='Enviar' %}{% endbuttons %}
          {% if invalid_code %}
               <a class="btn btn-primary" id="newCode">Receber código novamente</a><br />
          {% endif %}
          <label a><a href="/login">Voltar</a> </label>
     </form>

     <form action="{% url 'newcode' %}" method="POST" id="newCodeForm">
          {% csrf_token %}
     </form>
     <script>
          $('#newCode').click(() => {
               $('#newCodeForm').submit();
          });
     </script>
</body>

</html>