<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de peso e altura</title>
    <link rel="stylesheet" href="/static/css/estilo.css">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% load extras %}
</head>
<body>
    {% navbar %}
    {% bootstrap_messages %}
    <h1 class="display-4" style="text-align: center">Registros de peso e altura</h1> <br/>
    <div class="modal fade" id="weightFormModal" tabindex="-1" role="dialog" aria-labelledby="weightFormModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="weightFormModalLabel">Incluindo novo registro de peso e altura</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form id="form" action="/weight" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %} <br/>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-primary" id="saveForm">Salvar</button>
            </div>
          </div>
        </div>
      </div>
    <h1>{{ page_obj.current }}</h1>


    <div style="text-align: center;">
        <table class="table table-hover table-bordered">
            <tr>
                <th scope="col">Data do Registro</th>
                <th scope="col">Peso (kg)</th>
                <th scope="col">Altura (m)</th>
                <th scope="col">Descrição do registro</th>
                <th scope="col">Situação (<a href='https://gshow.globo.com/programas/estrelas/calculoimc.html' target='_blank'>Fonte</a>)</th>
                <th scope="col">
                    <button type="button" class="btn btn-md btn-success" data-toggle="modal" data-target="#weightFormModal">+ Registro</button>
                </th>
            </tr>
            {% for weight_register in page_obj %}
            <tr>
                <td>{{ weight_register.register_date }}</th>
                <td>{{ weight_register.weight }}kg</td>
                <td>{{ weight_register.height }}m</td>
                <td>
                    <a tabindex="0" class="btn btn-sm btn-primary" data-toggle="popover" title="Nota do registro" data-content="{{ weight_register.note }}">Visualizar nota</a>
                </td>
                <td>
                    {% if weight_register.imc < 18.5 %}
                        Magreza
                    {% elif weight_register.imc < 25 %}
                        Saudável
                    {% elif weight_register.imc < 30 %}
                        Sobrepeso
                    {% elif weight_register.imc < 35 %}
                        Obesidade (Grau I)
                    {% elif weight_register.imc < 40 %}
                        Obesidade severa (Grau II)
                    {% elif weight_register.imc > 40 %}
                        Obesidade mórbida (Grau III)
                    {% endif %}
                    ({{ weight_register.imc }})
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% pagination %}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({
            trigger: 'focus'
        });
            $('#saveForm').click( ()=> {
            $('#form').submit();
        })
        })
    </script>
</body>

</html>